# Ignore editor files
.idea

# Ignore test files
.test
!.test/data
!.test/config.yaml
!.test/metadata.tsv
.Rproj.user
*.Rproj
.Rhistory
workspace.code-workspace
.vscode/settings.json

# Ignore test index files
*.ebwt
*.bt2
